:root {
    --txt-color: #141414;
    --bg-color: #fff;
    --ax-light-color: #e6e6e6;
    --ax-dark-color: #303030;
    --txt-copy: .8rem;
    --txt-small: .8rem;
    --title-medium: calc(.5vw + .6rem);
    --title-large: calc(3vw + 6rem);
    --gap-small: 1rem;
    --gap-large: 2rem;
}

body {
    overflow-x: hidden;
    position: relative;
    font-family: "halyard-micro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--txt-copy);
    color: var(--txt-color);
}

a {
    position: relative;
}

a::after,
.item__cover img::after {
    content: "";
    background: var(--ax-dark-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    z-index: 1;
    transition: transform 0.1s ease-in-out;
}

a:hover::after,
.item__cover img:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.a--blend-effect::after {
    content: "";
    background: var(--bg-color);
    mix-blend-mode: difference;
    opacity: .5;
}

h2 {
    font-family: "halyard-micro", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--title-medium);
}

h3 {
    font-family: "halyard-micro", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--title-large);
}


.txt--main {
    font-family: "halyard-micro", sans-serif;
    font-size: var(--txt-copy);
    line-height: 1.5;
}

.txt--minor {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: var(--txt-copy);
    line-height: 1.5;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
}

.nav {
    position: fixed;
    bottom: 2rem;
    right: 0;
    padding-right: 5rem;
    text-align: right;
    font-size: var(--txt-small);
    text-transform: uppercase;
    z-index: 9;
}

.nav__items li {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.landing {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.landing__image {
    width: 100%;
    height: 100%;
    background-image: url("assets/images/media/video-khora.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* -webkit-filter: grayscale(1);
    filter: grayscale(1); */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.ui--scroll {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--txt-small);
    text-transform: uppercase;
}

.ui--scroll p {
    text-align: center;
}

.menu {
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.menu__items {
    font-size: var(--title-large);
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    mix-blend-mode: color-burn;
}

.menu__items li {
    margin-bottom: 2rem;
    width: 100%;
    height: 100%;
}

.menu__items li:last-child {
    margin-bottom: 0;
}

.content__wrapper {
    height: auto;
}

.content__container {
    position: relative;
}

.content {
    background: var(--bg-color);
    padding: 5rem 20vw 14rem 5rem;
}

.--about,
.--projects,
.--live {
    display: flex;
    gap: var(--gap-large);
}

.content__copy {
    width: 50%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

ul.grid__list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-large);
}

li.list__item--releases {
    /* change this proportion with media queries! */
    max-width: calc((100% - 6rem) / 4);
    justify-self: flex-start;
    position: relative;
}

li.list__item--media {
    /* change this proportion with media queries! */
    max-width: calc((100% - 2rem) / 2);
    justify-self: flex-start;
}

li figcaption {
    margin-top: 1rem;
}

.item__cover img {
    width: 100%;
    position: relative;
    z-index: 2;
    transition: -webkit-filter 1s ease-out;
    transition: filter .5s ease-out;
    transition: filter .5s ease-out, -webkit-filter .5s ease-out;
}

.item__cover img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.item__title {
    font-family: "halyard-micro", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0.5rem;
}

.card {
    width: 78vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5rem;
    background-color: var(--bg-color);
    z-index: 9;
    overflow-y: scroll;
    border-right: solid 1px var(--txt-color);
}

.card::-webkit-scrollbar {
    display: none;
}

.card__gallery::-webkit-scrollbar {
    height: .5rem;
}

.card__gallery::-webkit-scrollbar-track {
    background: var(--bg-color);
}

.card__gallery::-webkit-scrollbar-thumb {
    background: var(--ax-dark-color);
}

.card__gallery {
    display: flex;
    flex-direction: row;
    gap: var(--gap-large);
    width: auto;
    overflow-x: scroll;
}

.card__gallery img {
    width: auto;
    max-height: 45vh;
}

.card__text {
    margin: var(--gap-large) 0;
}

.card__text h2 {
    margin-bottom: 1rem;
}

.card__text h3 {
    text-transform: uppercase;
}

.card__text p {
    margin-bottom: 1rem;
}

p.buy.txt--minor {
    margin-bottom: 5rem;
}

.card__text--credits p {
    margin: 0;
}

.ui--close {
    width: 2rem;
    height: 2rem;
    background-image: url("assets/ui/close.svg");
    background-size: contain;
    position: fixed;
    top: 5rem;
    right: 5rem;
    cursor: pointer;
    z-index: 10;
    transform: rotate(0);
    opacity: 0;
    transition: all .5s ease;
}

.ui--close:hover {
    transform: rotate(45deg);
}

.ui--close.appear {
    opacity: 1;
}

.label,
.play,
.buy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.label::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("assets/ui/label.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1rem;
}

.play::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("assets/ui/play.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1rem;
}

.buy::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("assets/ui/buy.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1rem;
}

.live__present,
.live__past {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.live__present__title {
    line-height: 1;
    margin-bottom: var(--gap-small);
}

.live__copy {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

h3.list__title {
    font-size: var(--title-large);
    line-height: 1;
    margin-bottom: var(--gap-small);
    text-transform: uppercase;
}

.list__title {
    cursor: pointer;
}

.list__info {
    display: none;
}

.list__info__block {
    margin-bottom: var(--gap-small);
}

div.opened div.list__info {
    display: block;
}

.ui--up {
    width: 2rem;
    height: 41px;
    background-image: url("assets/ui/up.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 12rem;
    right: 5rem;
    transition: bottom .5s ease;
}

.ui--up::after {
    display: none;
}

.ui--up:hover {
    bottom: 12.5rem;
}

footer {
    width: 100%;
    padding: 0 0 2rem 5rem;
    font-size: var(--txt-small);
}

.footer--pages {
    background: var(--bg-color);
}

@media only screen and (max-width: 600px) {
    :root {
        --title-medium: 1rem;
        --title-large: 4.5rem;
    }

    .content {
        margin: .5rem;
        padding: .5rem;
    }

    .--about,
    .--projects,
    .--live {
        flex-direction: column;
        gap: var(--gap-small);
    }

    .content__copy {
        width: 100%;
    }

    .sticky {
        position: static;
    }

    .nav {
        position: absolute;
        top: calc(100vh + 2rem);
        right: 50%;
        transform: translateX(50%);
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width: 100%;
        padding: 0 1rem;
        text-align: center;
    }

    .nav__items {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 4px;
        column-gap: 32px;
    }

    .nav__items li {
        display: block;
    }

    .menu {
        margin: 0 auto;
        height: 100vh;
    }

    .menu__items {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 2rem;
    }

    .menu__items li {
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        display: block;
        margin: 0;
        width: auto;
        height: auto;
    }

    .link--hover {
        display: block;
    }

    .link--hover::after {
        display: none;
    }

    .grid__list {
        flex-direction: column;
    }

    li.list__item--releases,
    li.list__item--media {
        max-width: 100%;
    }

    .live__present,
    .live__past {
        width: 100%;
    }

    .live__past {
        order: 2;
    }

    .live__present__title,
    .list__title {
        margin-bottom: 0;
    }

    .card {
        width: 100%;
        height: 100%;
        border-right: none;
        padding: 0;
        overflow-x: hidden;
    }

    .card__gallery {
        gap: var(--gap-small);
    }

    .card__text {
        padding: 1rem;
    }

    .card__text h3 {
        font-size: var(--title-medium);
        margin-bottom: var(--gap-small);
    }

    .card__text--credits {
        margin-bottom: 5rem;
    }

    .ui--close {
        top: 1rem;
        right: 1rem;
    }

    .ui--up {
        bottom: 5rem;
        right: 1rem;
    }

    .ui--scroll {
        bottom: 8rem;
    }

    footer {
        padding: 8rem 1rem 2rem 1rem
    }

    .footer--pages {
        background: transparent;
    }
}