:root {
    --txt-color: #141414;
    --bg-color: #fff;
    --txt-copy: .8rem;
    --txt-small: .8rem;
    --title-medium: calc(.5vw + .6rem);
    --title-large: calc(3vw + 6rem);
    --gap-small: 1rem;
    --gap-large: 2rem;
    --timing: .5s;
}

.txt--main {
    font-family: "halyard-micro", sans-serif;
    font-size: var(--txt-copy);
    line-height: 1.5;
}

.txt--minor {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: var(--txt-copy);
    line-height: 1.5;
}

h2 {
    font-family: "halyard-micro", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--title-medium);
}

h3 {
    font-family: "halyard-micro", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--title-large);
}

.sticky {
    position: sticky;
    top: 2rem;
}

body {
    overflow-x: hidden;
    position: relative;
    font-family: "halyard-micro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--txt-copy);
    color: var(--txt-color);
}

.nav {
    position: fixed;
    bottom: 2rem;
    right: 0;
    padding-right: 5rem;
    text-align: right;
    font-size: var(--txt-small);
    text-transform: uppercase;
    z-index: 9;
}


.landing {
    width: 100%;
    height: 100vh;
    position: relative;
}

.landing__image {
    width: 100%;
    height: 100%;
    background-image: url("assets/images/Grainy_Background_02.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.ui__scroll {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--txt-small);
    text-transform: uppercase;
}

.ui__scroll p {
    text-align: center;
}

.menu {
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.menu__items {
    font-size: var(--title-large);
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    mix-blend-mode: color-burn;
}

.menu__items li {
    margin-bottom: 2rem;
}

.menu__items li:last-child {
    margin-bottom: 0;
}

.content__wrapper {
    height: auto;
}

.content__container {
    position: relative;
}

.content {
    background: var(--bg-color);
    padding: 5rem 15% 14rem 5rem;
}

.--about,
.--projects,
.--live {
    display: flex;
    gap: var(--gap-large);
}

.content__copy {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

ul.grid__list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--gap-large);
}

li.list__item--releases {
    /* change this proportion with media queries! */
    max-width: calc((100% - 4rem) / 3);
    justify-self: flex-start;
}

li.list__item--media {
    /* change this proportion with media queries! */
    max-width: calc((100% - 2rem) / 2);
    justify-self: flex-start;
}

li figcaption {
    margin-top: 1rem;
}

.item__cover img {
    transition: filter 1s ease-out;
}

.item__cover img:hover {
    filter: grayscale(1);
}

.item__title {
    font-family: "halyard-micro", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.item__link {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.5rem;
}

.label::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("assets/ui/label.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1rem;
}

.play::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("assets/ui/play.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1rem;
}

.live__present,
.live__past {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.live__present__title {
    font-size: var(--title-large);
    line-height: 1;
    margin-bottom: var(--gap-small);
}

.live__copy {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.list__title {
    font-size: var(--title-large);
    line-height: 1;
    margin-bottom: var(--gap-small);
    text-transform: uppercase;
    cursor: pointer;
}

.list__info {
    display: none;
}

.list__info__block {
    margin-bottom: var(--gap-small);
}

div.opened div.list__info {
    display: block;
}

.ui__top {
    position: absolute;
    bottom: 10rem;
    right: 5rem;
}

.ui__top svg {
    fill: none;
    stroke: var(--txt-color);
}

footer {
    width: 100%;
    padding: 0 0 2rem 5rem;
    font-size: var(--txt-small);
}

.footer--pages {
    background: var(--bg-color);
}



/* .fade-leave-active,
.fade-enter-active,
.fade-once-active {
    transition: opacity var(--timing);
}

.fade-leave {
    opacity: 1;
}

.fade-leave-to {
    opacity: 0;
}

.fade-enter,
.fade-once {
    opacity: 0;
}

.fade-enter-to,
.fade-once-active {
    opacity: 1;
} */

@media only screen and (max-width: 600px) {
    :root {
        --title-medium: 1rem;
        --title-large: 4.5rem;
    }

    .content {
        margin: .5rem;
        padding: .5rem;
    }

    .--about,
    .--projects,
    .--live {
        flex-direction: column;
        gap: var(--gap-small);
    }

    .content__copy {
        width: 100%;
    }

    .sticky {
        position: static;
    }

    .nav {
        position: absolute;
        top: 1rem;
        right: 50%;
        transform: translateX(50%);
        height: fit-content;
        width: 100%;
        padding: 0 1rem;
        text-align: center;
        /* background-color: var(--bg-color); */
    }

    .nav__items {
        display: flex;
        justify-content: space-between;
    }

    .footer--pages {
        background: transparent;
    }

    .menu {
        margin: 0 auto;
        height: 100vh;
    }

    .menu__items {
        display: flex;
        justify-content: center;
    }

    .menu__items li {
        margin-bottom: 1rem;
    }

    .menu__items li a {
        writing-mode: vertical-lr;
    }

    .grid__list {
        flex-direction: column;
    }

    li.list__item--releases,
    li.list__item--media {
        max-width: 100%;
    }

    .ui__top {
        bottom: 1rem;
        right: 1rem;
    }

    .ui__scroll {
        bottom: 4rem;
    }

    footer {
        padding: 1rem;
    }
}